:root {
  font-family: 'Afacad', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
  FONT FACES
*/

@font-face {
  font-family: 'Afacad';
  src: url('./assets/fonts/Afacad-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Afacad';
  src: url('./assets/fonts/Afacad-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Afacad';
  src: url('./assets/fonts/Afacad-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}